* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside {
    position: absolute;
    width: 50%;
    background-color: #ad3eee; 
    height: 100%;
}

main {
    position: relative;
    width: 50%;
    margin-top: 0px;
    top: 0px;
    left: 50%;
    height: 100%;
    background-color: white;
}

#circle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(30, 1fr);  
    grid-template-rows: repeat(20, 1fr);     
    gap: 5px; 
    background-color: #ad3eee; 
    overflow: hidden;
    pointer-events: none;
}

.circle {
    width: 12px; 
    height: 12px;
    background-color: #fff; 
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.circle:hover {
    background-color: #ad3eee;
}

.follower {
    position: absolute;
    width: 20px; 
    height: 20px; 
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
#motivative-text{

    position: absolute;
    top: 60%;
    z-index: 2;
    width: 100%;
    background-color:#ad3eee ;
    height: 40%;
    text-align: center;
    
}
ul{
    margin-top: 60px;
}
ul li{
    margin-top: 40px;
    color: white;
    font-family: "Sour Gummy";
    font-style: italic;
    font-size: large;
}

.potion-cat{
z-index: 5;
max-width: 350px;
max-height: 350px;
border-radius: 50px;
position: absolute;
left: -580px;
top: 35px;
}


.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 320px;
    border-radius: 40px;
    border: 1px solid #ad3eee; 
    text-align: center;
    line-height: 100px;
}
#inputss{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin: 0;
}
#inputss input{
    width: 280px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ad3eee;
    background-color: white;
    border-radius: 30px;
    margin: 0; /* Ensure no extra margin between inputs */
    box-sizing: border-box;
}